/* 
-responsive shop
-responsive header
*/

@import url("https://fonts.cdnfonts.com/css/futura-pt");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Futura PT", sans-serif;
}

.center {
  text-align: center;
}
/* NAV */

nav {
  display: flex;
  height: 100px;
}

.row {
}

.nav-link {
  width: 100px;
  text-decoration: none;
  font-size: 2vw;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px 0;
  cursor: pointer;
}

.nav-container {
}

.logo {
  width: 280px;
  margin: 0 20px;
}

.button-1 {
  border-style: none;
  text-decoration: none;
  font-size: 2vw;
}

/* HEADER */

header {
  background-color: #eaeaea;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  padding: 70px 0;
}

h2 {
  font-size: 2vw;
  font-weight: 200;
  margin: 10px 40px;
}

/* SHOP */

#browse {
  margin: 20px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 33%;
  height: 400px;
}

.link-1 {
  background-image: url(assets/air-force-1.png);
}

.link-1:hover {
  opacity: 0;
  transition: 2s ease;
}

.link-2 {
  background-image: url(assets/air-force-2.png);
}

.link-3 {
  background-image: url(assets/air-force-3.png);
}

@media screen and (max-width: 600px) {
  .container {
    flex: 100%;
  }

  .nav-links {
  }

  .logo {
    width: 8vw;
    flex: none;
  }
}

@media screen and (max-width: 800px) {
}
